.reset-button {
    width: 100%;
    max-width: 70px;
    min-height: 30px;
    margin: auto;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
    transition: opacity 0.2s linear;
    padding: 0;
    background-color: #000;
    color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
    font-style: normal;
    font-weight: 900;
  }
  
  .reset-button:hover {
    opacity: 0.6;
    cursor: pointer;
  }
  
  @media screen and (max-width: 552px) {
    .reset-button {
      max-width: 40px;
      min-height: 30px;
      top: 10px;
      right: 10px;
      font-size: 10px;
    }
  }
  